# 忽略dbg文件和dbg目录
package-lock.json
public/output.js
out.js
output.js
game.js
.ionide
.vscode
.vite-inspect
.idea
.zip
#mac
*.DS_Store
tmp/
log/
node_modules/
build/
.vscode
shaders/output.js
shaders/output.js
