# 忽略dbg文件和dbg目录
package-lock.json
public/output.js
out.js
output.js
game.js
.ionide
.vscode
.idea
.zip
#mac
*.DS_Store
tmp/
log/
node_modules/
build/
public/ui/index.js
.vscode
/shaders
shaders/output.js
